{% extends "base.html" %}
{% block content %}
<main>
  <div class="container">
    <h1 class="lh-lg">500 Упс! Что-то пошло не так :с</h1>
    <div class="row">
      <img src="{{ url_for('static', filename='img/500.jpg') }}" class="col-8" alt="Что-то пошло не так">
      <div class="col-4">
        <p class="fs-3">На сервере произошло что-то нестабильное.</p>
        <p class="fs-3">Возможно, стоит подождать и вернуться позже.</p>
      </div>
    </div>
    <div class="container text-center">
      <a class="fs-2" href="{{ url_for('index_view') }}">На главную</a>
    </div>
  </div>
</main>
{% endblock content %}